.choices {
    display: flex;
    padding: 0.5rem 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.selection {
    // Selection label shows current name of
    // the selection i.e. normally the folder name
    .folderName {
        margin-left: 0.5rem;
        font-size: 0.87rem;
        font-weight: thin;
        color: dimgrey;
    }
}

// exact same style as tagPreview
.beetsDump {
    white-space: pre-wrap;
    overflow-wrap: break-workd; // this allows wrapping e.g. spotify urls
    font-family: monospace;
    font-size: 0.7rem;
}

.candidateHeader {
    display: flex;
    gap: 1rem;
    align-items: top;
    margin-left: 0.5rem;
    width: 100%;

    .headerGroup {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        > .changed {
            color: #ebcb8c;
        }
    }

    .penaltyIconRow {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        margin-left: auto;
    }
}

.sourceIcon,
.penaltyIcon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: "inherit";

    &.inactive {
        // color: #495057;
        color: #403b31;
    }

    &.penalty {
        color: #ebcb8c;
    }

    svg {
        height: 100%;
        width: 100%;
        stroke-width: 1.75;
    }
}

.candidatePreview {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .previewHeading,
    .previewSubHeading {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .previewSubHeading {
        // 2rem margin and 0.9 size align well with track indices and titles
        margin-left: 2rem;
        font-size: 0.9rem;
    }
}

.disambig {
    font-style: italic;
}

.dataUrl {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.9rem;
    opacity: 0.7;
}

.artistChange {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .inner {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}

.albumChange {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .inner {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}

.trackChanges {
    display: flex;
    gap: 0.1rem;
    align-items: start;
    flex-direction: column;
    font-size: 0.8rem;
    margin-left: 1rem;

    .diff {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        align-items: center;
        width: 100%;

        .lhs,
        .rhs {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            width: 100%;

            > svg {
                flex-shrink: 0;
            }
        }
    }

    .trackChange {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        width: 100%;
        border-radius: 0.3rem;
        padding: 0.1rem 0.5rem 0.1rem 0.3rem;
        &:nth-child(even) {
            background-color: #88888822;
        }

        .trackChangeSide {
            // one side of a track change, where the title changed
            display: flex;
            gap: 0.4rem; // this corresponds to space e.g. between title and time
            align-items: center;
        }
    }
}

.trackIndex {
    white-space: pre;
    font-size: 0.7rem;
    font-family: monospace;
    > .added {
        white-space: normal !important;
    }
}

.trackIndexChange,
.trackLengthChange {
    // time or track number change, e.g. (3:45) -> (3:46)
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.added {
    color: #a4bf8c;
}
.removed {
    color: #c0626b;
}
.changed {
    color: #ebcb8c;
}
.fade {
    opacity: 0.4;
}
