.choices {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    flex-grow: 1;
}

.expandBtn {
    width: 100%;
    height: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

// we want the candidate preview, contained in the radix hover content to be no
// wider than our container, plus some padding, but to always fill the same width.
// container is set to maxwidth lg (1200px) in __root.tsx
.hoverContent {
    $paddingNeeded: 4.25rem;
    width: calc(max(1200px, 100%) - $paddingNeeded) !important;
    max-width: calc(min(1200px, 100dvw) - $paddingNeeded);
}

// Selection label shows current name of
// the selection i.e. normally the folder name
.name {
    padding: 0.1rem 0.05rem;
    margin-left: 0.5rem;
    font-size: 0.87rem;
    font-weight: thin;
    color: dimgrey;
}

// exact same style as tagPreview
.beetsDump {
    white-space: pre-wrap;
    overflow-wrap: break-workd; // this allows wrapping e.g. spotify urls
    font-family: monospace;
    font-size: 0.7rem;
}

.candidateHeader {
    display: flex;
    gap: 1rem;
    align-items: top;
    margin-left: 0.5rem;
    width: 100%;

    .headerGroup {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        > [data-changed="true"] {
            color: #ebcb8c;
        }
    }

    .penaltyIconRow {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        margin-left: auto;
    }
}

.sourceIcon,
.penaltyIcon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: "inherit";

    &.inactive {
        color: #403b31;
    }

    &.penalty {
        color: #ebcb8c;
    }

    svg {
        height: 100%;
        width: 100%;
        stroke-width: 1.75;
    }
}

.candidatePreview {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .previewHeading,
    .previewSubHeading {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .previewSubHeading {
        // 2rem margin and 0.9 size align well with track indices and titles
        margin-left: 2rem;
        font-size: 0.9rem;
    }
}

.added {
    color: #a4bf8c;
}
.removed {
    color: #c0626b;
}
.changed {
    color: #ebcb8c;
}
.fade {
    opacity: 0.4;
}
