services:
    beets-flask:
        container_name: beets-flask
        hostname: beets-container
        build:
            context: ..
            dockerfile: docker/Dockerfile
            target: dev
        image: beets-flask
        restart: unless-stopped
        ports:
            - "5001:5001" # for beets-flask
            - "5173:5173" # for vite dev server
        environment:
            # 502 is default on macos, 1000 on linux
            USER_ID: 1000
            GROUP_ID: 1000
            LOG_LEVEL_BEETSFLASK: DEBUG # this is used for our own logs. (set beets level via the config)
            LOG_LEVEL_OTHERS: WARNING # this is passed python logging basic config (all other modules)
        volumes:
            # if you want to use the same beets-library inside and out:
            # YOU NEED TO MAP YOUR MUSIC FOLDER IN THE CONTAINER TO THE SAME PATH AS OUTSIDE
            # and make sure the config used in the container has the right path!
            # - /music/:/music/

            # we put the beets and our beets-flask config into the /config directory
            # create these folders before starting the container! otherwise you might
            # get permission issues.
            - ./dev_config/:/config

            # for development. (disable if target is `prod`)
            - ../:/repo/
