// these can probably go into a general css
$border-width: 1px;
$border-color: #495057;

@keyframes slideDown {
    from {
        height: 0px;
    }

    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }

    to {
        height: 0px;
    }
}

// inbox
.inboxView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    padding: 1rem 1.5rem;
}

.folder {
    text-overflow: ellipsis;
    font-family: monospace;
    font-size: 0.7rem;
    white-space: pre;
    max-width: 100%;
    width: auto;

    &[data-empty="true"] {
        color: #999;
    }

    svg {
        display: flex;
        height: 1rem;
    }
}

.contextMenuHeaderWrapper {
    cursor: pointer;
    display: inline-flex;
    width: auto;
}

.header {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: begin;
    width: auto;
    padding-block: 0.15rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
    &[data-selected="true"] {
        background-color: #6f7b8533;
    }
    &:hover {
        // background-color: #6F7B8555;
        // carbon copy of theme.tsx hover color :/
        background-color: #212529;
    }
}

.label {
    // TODO: when line-wrapping of the content occurs, the label extends
    // full-width of the parent (flex) container, instead of having the
    // width of the largest child. Visible on hover.
    max-width: 100%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    user-select: none;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
    }
}

.trigger {
    flex-shrink: 0;
    transition: transform 150ms ease-in-out;
    margin-right: 0.3rem;

    &[data-state="open"] {
        transform: rotate(90deg);
    }

    &:hover {
        cursor: pointer;
    }
}

.albumIcons {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-left: 0rem;
    margin-right: 0.5rem;
}

.albumIcon {
    height: 1rem;
}

.content {
    margin-left: 0.7rem;
    margin-bottom: 0.2rem;
    padding-left: 1rem;
    border-left: $border-width solid $border-color;
    overflow: hidden;
    &[data-state="open"] {
        animation: slideDown 150ms ease-out;
    }
    &[data-state="closed"] {
        animation: slideUp 150ms ease-out;
    }
}

.file {
    margin-left: 0.45rem;
    font-family: monospace;
    font-size: 0.7rem;
    white-space: pre-wrap;
    overflow-wrap: break-workd;
    color: #999;
}
