.List {
    overflow-x: hidden !important;
}

.ListItemText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    &.overflowing {
        &:hover {
            animation: MoveText 3s ease-in-out infinite;
        }
    }
}

@keyframes MoveText {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(var(--translate-distance, 0));

    }
    60% {
        transform: translateX(var(--translate-distance, 0));

    }
    95% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
