.tagView {
    margin-bottom: 0.5rem;
}

.accordionOuter {
    // dont know why, but there are is an extra div around the Mui Accordion Summary
    div:not(:last-child) > & {
        border-radius: 0;
    }
    div:last-child > & {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--mui-shape-borderRadius);
        border-bottom-right-radius: var(--mui-shape-borderRadius);
    }
}

.tagContent {
    white-space: pre;
    font-family: monospace;
    font-size: 0.7rem;
}

// to get the color codes working, you will need the ansi css classes form our main.css
.tagPreview {
    white-space: pre;
    font-family: monospace;
    font-size: 0.7rem;
}
