.SimilarityBadgeOuter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SimilarityBadgeInner {
    background-color: #212529;
    border-radius: 0.3rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    font-size: 0.7rem;
    line-height: 1;
    font-weight: bolder;
    padding: 0.1rem 0.3rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: monospace;
    white-space: pre;
    &.tbd {
        color: #495057;
    }
    &.strong {
        color: #a4bf8c;
    }
    &.medium {
        color: #ebcb8c;
    }
    &.weak {
        color: #c0626b;
    }
}
