.tagView {
    margin-bottom: 0.5rem;
}

.accordionOuter {
    // dont know why, but there are is an extra div around the Mui Accordion Summary
    div:not(:last-child) > & {
        border-radius: 0;
    }
    div:last-child > & {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--mui-shape-borderRadius);
        border-bottom-right-radius: var(--mui-shape-borderRadius);
    }
}

.tagContent {
    white-space: pre;
    font-family: monospace;
    font-size: 0.7rem;
}

// to get the color codes working, you will need the ansi css classes form our main.css
.tagPreview {
    white-space: pre-wrap;
    overflow-wrap: break-word; // this allows wrapping e.g. spotify urls
    font-family: monospace;
    font-size: 0.7rem;
}


// the header and icons are a carbon-copy of the css for the inbox :/
.header {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    width: auto;
}
.albumIcons {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0.0rem;
}

.albumIcon {
    height: 1rem;
}
