/* ---------------------------------------------------------------------------------- */
/*                                   Column Browser                                   */
/* ---------------------------------------------------------------------------------- */

$column_gap: 0.5rem;

.columnBrowser {
    display: flex;
    // @sm I hard-coded the col height cos I did not manage dynamically (but only the track details view causes height issues)
    max-height: calc(100dvh - 48px);
    height: 100%;
    column-gap: $column_gap;
    padding: 0.5rem;
}

.column {
    margin: 0;
    gap: 0;
    padding: 0;
    overflow: hidden;

    // on mobile only one column
    width: 100%;
    display: flex;
    flex-direction: column;
    &.isSecondary {
        display: none;
    }
    // on large screens multiple columns
    @media (min-width: 768px) {
        // 4 columns, 3 gaps => x0.75
        width: calc(25% - 0.75 * $column_gap);
        &.isSecondary {
            display: flex;
            width: calc(25% - 0.75 * $column_gap);
        }
    }
}

.columnLabel {
    text-align: center;
    // font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.5rem;
    position: relative;
    opacity: 0.6;
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
    &::after {
        // divider line with full opactiy
        content: "";
        width: 100%;
        display: block;
        height: 0.5rem; // this is effectively padding bottom
        position: aboslute;
        border-bottom: #292e31 solid 1px;
    }
}

.browserHeader {
    border-bottom: #292e31 solid 1px;
    padding: 0.5rem 0.5rem;
    @media (min-width: 768px) {
        &:not(.alwaysShow) {
            display: none;
        }
    }
}

.listBox {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    align-items: start;

    // mui adds uls
    & > ul {
        padding: 0;
        width: 100%;
    }
}

.listItem {
    --default-bg: var(--mui-palette-background-paper);
    --hover-bg: #353a3f;
    --selected-bg: #292e31;
    cursor: pointer;
    padding: 0rem 0.5rem;
    width: 100%;
    &[data-selected="true"] {
        background-color: var(--selected-bg);
    }
    &:hover {
        background-color: var(--hover-bg);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 15px;
        pointer-events: none;
        background: linear-gradient(to right, transparent, var(--current-bg));
    }
}
// Dynamically set the --current-bg variable based on state
.listItem {
    &[data-selected="true"]::after {
        --current-bg: var(--selected-bg);
    }
    &:hover::after {
        --current-bg: var(--hover-bg);
    }
    &:not(:hover):not([data-selected="true"])::after {
        --current-bg: var(--default-bg);
    }
}

/* ---------------------------------------------------------------------------------- */
/*                                       Search                                       */
/* ---------------------------------------------------------------------------------- */

.SearchPageOuter {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    code {
        background-color: #212529;
        padding: 2px 4px;
        border-radius: 4px;
        font-family: "Courier New", Courier, monospace;
        font-size: 0.9em;
        white-space: nowrap;
    }
}

.SearchBarOuter {
    // position: sticky;
    // top: 0;
    padding-block: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.SearchBarTextField {
    width: 100%;
    margin-right: 0.5rem;
    & :global(.MuiOutlinedInput-root) {
        & fieldset {
            border-color: #a2a2a355;
            border-width: 1px;
        }
    }
}

.SearchResultsWrapper {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    // overflow: hidden;
    column-gap: $column_gap;
}

.SearchResultsLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.SearchResults {
    height: 100%;
    width: 33%;
    overflow: hidden;

    .ItemResultArtist,
    .AlbumResultArtist {
        display: none;

        @media (min-width: 768px) {
            display: inline-block;
        }

        & svg {
            opacity: 0.6;
            display: inline-block;
            margin: 0 0.5rem 0.1rem 0.5rem;
        }
    }
    // .ItemResultName, .AlbumResultName {
    // }
}

.SearchResultInfoOuter {
    width: calc(67% - #{$column_gap});
}

.SearchResultInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;

    .SearchResultCover {
        margin: 0.5rem auto 0 auto;
    }
}

.h100w100 {
    height: 100%;
    width: 100%;
}

.BeetsSearchHelpOuter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    // for fade-out pseudo-elements
    position: relative;
}

.BeetsSearchHelp {
    // position: relative;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    // padding-bottom: 1.5rem;
    // height: 100%;
    // overflow-y: auto;

    h1 {
        font-size: 1.2em;
        margin-bottom: 0.5em;
        margin-top: 1.5rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 2rem;
    }

    li {
        margin-bottom: 8px;
    }
}
