<html lang="en" data-bs-theme="dark">
    <head>
        <title>Beets</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/main.css" />
        <link
            rel="stylesheet"
            href="/static/bootstrap-icons/font/bootstrap-icons.min.css"
        />
    </head>
    <body>
        <!-- container -->
        <div class="container">
            <div class="section-header mb-4">Beets</div>

            <!-- inbox view -->
            <div
                role="button"
                title="show/hide inbox"
                class="section-header collapse-toggle"
                data-bs-target="#collapse-inbox-section"
                data-bs-toggle="collapse"
                aria-expanded="true"
                aria-controls="collapse-inbox-section"
            >
                <div class="fs-6"><i class="bi-caret-right-fill rotate-on-expand"></i></div>
                <div>Inbox</div>
            </div>
            <div id="collapse-inbox-section" class="row collapse show">
                <div class="col my-3">
                    <div class="my-card rounded mb-4 p-3">
                        <div id="inbox_container">
                        </div>
                    </div>
                </div>
            </div>

            <!-- tags -->
            <div
                role="button"
                title="show/hide tags"
                class="section-header collapse-toggle"
                data-bs-target="#collapse-tags-section"
                data-bs-toggle="collapse"
                aria-expanded="true"
                aria-controls="collapse-tags-section"
            >
                <div class="fs-6"><i class="bi-caret-right-fill rotate-on-expand"></i></div>
                <div>Tags</div>
            </div>
            <div id="collapse-tags-section" class="row collapse show">
                <div class="col my-3" id="tags_container"></div>
            </div>

            <!-- folder input -->
            <div
                role="button"
                title="show/hide upload"
                class="section-header collapse-toggle"
                data-bs-target="#collapse-upload-section"
                data-bs-toggle="collapse"
                aria-expanded="true"
                aria-controls="collapse-upload-section"
            >
                <div class="fs-6"><i class="bi-caret-right-fill rotate-on-expand"></i></div>
                <div>Upload</div>
            </div>
            <div id="collapse-upload-section" class="row collapse show">
                <div class="col my-3" id="upload_container">
                    <input
                        class="form-control"
                        type="file"
                        spellcheck="false"
                        id="fileInput"
                        webkitdirectory=""
                        mozdirectory=""
                        msdirectory=""
                        odirectory=""
                        directory=""
                    />
                </div>
            </div>

            <!-- terminal output -->
            <div
                role="button"
                title="show/hide log"
                class="section-header collapse-toggle"
                data-bs-target="#collapse-terminal-stdout"
                data-bs-toggle="collapse"
                aria-expanded="true"
                aria-controls="collapse-terminal-stdout"
            >
                <div class="fs-6"><i class="bi-caret-right-fill rotate-on-expand"></i></div>
                <div>Log</div>
            </div>
            <div id="collapse-terminal-stdout" class="row collapse show">
                <div class="col my-3">
                    <div class="my-card rounded mb-4">
                        <div id="terminal_stdout"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- scripts -->

        <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/static/main.js"></script>
    </body>
</html>
