@tailwind base;

@tailwind components;
@tailwind utilities;

/**
#app {
    background: radial-gradient(ellipse, black 50%, rgb(51, 0, 15) 100%),
        url("./assets/background.png");
    background-blend-mode: difference;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
*/
