main {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

:root {
    --background: red;
}

body {
    /* Slide in transition shows overflow if this is not hidden on body*/
    overflow: hidden;

    /* Noise texture with very low opacity */
    background-image:
        url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.13' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.01'/%3E%3C/svg%3E"),
        /* Subtle grid pattern */
        repeating-linear-gradient(
                90deg,
                #af569a10,
                transparent 1px,
                transparent 20px
            ),
        repeating-linear-gradient(
            0deg,
            #af569a10,
            transparent 1px,
            transparent 20px
        );

    background-size:
        200px 200px,
        20px 20px,
        20px 20px,
        100% 100%;

    background-position:
        0 0,
        0 0,
        0 0,
        0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* avoid this non-standard feature, we have our own closing button in search fields,
without this flag, we get two cancel buttons */
*::-webkit-search-cancel-button {
    display: none;
}
