@tailwind base;

@tailwind components;
@tailwind utilities;

/**
#app {
    background: radial-gradient(ellipse, black 50%, rgb(51, 0, 15) 100%),
        url("./assets/background.png");
    background-blend-mode: difference;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
*/

/* https://lucide.dev/guide/advanced/global-styling*/

@layer components {
    .table-info {
        border-collapse: separate;
        border-spacing: 18px 4px;
    }
}

.lucide {
    color: currentColor;
    stroke-width: 2px;
}


/* applied to all custom hover cards that use radix */
.HoverContent {
    border-radius: 0.3rem;
    padding: 1rem;
    z-index: 2;
    pointer-events: none;
}

.DefaultBlurBg, .HoverContent {
    Background-color: #21252933;
    backdrop-filter: blur(17px);
}

/* Ansi colors, opiniated, for https: //github.com/nteract/ansi-to-react */

.ansi-dim {
    opacity: 0.5;
}

.ansi-black-fg {
    color: #000000;
}

.ansi-black-bg {
    background-color: #000000;
}

.ansi-red-fg {
    color: #C0626B;
}

.ansi-red-bg {
    background-color: #C0626B;
}

.ansi-green-fg {
    color: #A4BF8C;
}

.ansi-green-bg {
    background-color: #A4BF8C;
}

.ansi-yellow-fg {
    color: #EBCB8C;
}

.ansi-yellow-bg {
    background-color: #EBCB8C;
}

.ansi-blue-fg {
    color: #7EA2BF;
}

.ansi-blue-bg {
    background-color: #7EA2BF;
}

.ansi-magenta-fg {
    color: #B48EAD;
}

.ansi-magenta-bg {
    background-color: #B48EAD;
}

.ansi-cyan-fg {
    color: #8FBCBB;
}

.ansi-cyan-bg {
    background-color: #8FBCBB;
}

.ansi-white-fg {
    color: #FFFFFF;
}

.ansi-white-bg {
    background-color: #FFFFFF;
}

.ansi-bright-black-fg {
    color: #818689;
}

.ansi-bright-red-fg {
    color: #D0737F;
}

.ansi-bright-green-fg {
    color: #B5D0A0;
}

.ansi-bright-yellow-fg {
    color: #F0D9A6;
}

.ansi-bright-blue-fg {
    color: #8FB8D1;
}

.ansi-bright-magenta-fg {
    color: #C79EC4;
}

.ansi-bright-cyan-fg {
    color: #A3CDCD;
}

.ansi-bright-white-fg {
    color: #FFFFFF;
}


main {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}
