.slideIn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: -1;
    &[data-open="true"] {
        z-index: 3;
    }
    // use animation to delay the z-index change (otherwise we can peak through on close)
    &[data-open="false"] {
        animation: closeSlideIn 1s forwards;
    }
}

@keyframes closeSlideIn {
    from {
        z-index: 3;
    }
    to {
        z-index: -1;
    }
}


.slideInHeader {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    padding-right: 1rem;
}

.terminalExpandButton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    width: 100px;
    font-size: 0.8rem;
    font-family: monospace;
    padding: 0.2rem 0.5rem;
    z-index: 2;
    background-color: black;
    &:hover {
        background-color: #222;
    }
}

.terminalOuterContainer {
    flex: 1;
    flex-direction: column;
    padding: 4px;
    border-top: 2px solid;
    border-color: var(--mui-palette-primary-dark);
    width: 100%;
    height: auto;
    flex-grow: 1;
    background-color: black;
    color: var(--mui-palette-primary-main);
    font-family: monospace;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
}

.xTermBindingContainer {
    // size that xterm is fitted to (better set explizitly)
    height: 500px;
    max-height: calc(100vh - 50px);
    width: 100%;
}

.terminalCollapseButton {
    background-color: black;
    color: var(--mui-palette-primary-dark);
    border-color: var(--mui-palette-primary-dark);
    border-radius: 0.5rem;
    border: 2px solid;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-bottom: 0px;

    &:hover {
        border-bottom: 0px;
        border-color: var(--primary-dark);
    }
}
