.columnBrowser {
    display: flex;
    gap: 4px;
}

.listBox {
    // TODO: get navbar height and substract.
    height: calc(100vh - 110px);
    width: calc(25% - 4px);
    display: flex;
    align-items: start;
    margin: 0;
    gap: 0;
    padding: 0;
    border: 1px solid #495057;
    border-radius: 0.3rem;
    overflow-y: auto;
    overflow-x: hidden;
    // mui adds uls
    & > ul {
        padding: 0;
        width: 100%;
    }
}

.listItem {
    padding: 0rem 0.5rem;
    width: 100%;
    &[data-selected="true"] {
        background-color: #6F7B8533;
    }
    &:hover {
        background-color: #6F7B8555;
    }
}

.trackViewBox {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}
