.label {
    text-align: center;
    // font-weight: bold;
    text-transform: uppercase;
    position: relative;
    opacity: 0.6;
    align-self: flex-end;

    &::after {
        // divider line with full opactiy
        content: "";
        width: 100%;
        display: block;
        height: 0.5rem; // this is effectively padding bottom
        position: absolute;
        border-bottom: #292e31 solid 1px;
    }
}

.list {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    align-items: start;

    // mui adds uls
    & > ul {
        padding: 0;
        width: 100%;
    }

    // List items
    .item {
        --default-bg: var(--mui-palette-background-paper);
        --hover-bg: #353a3f;
        --selected-bg: #292e31;
        cursor: pointer;
        padding: 0rem 0.5rem;
        width: 100%;
        &[data-selected="true"] {
            background-color: var(--selected-bg);
        }
        &:hover {
            background-color: var(--hover-bg);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 15px;
            pointer-events: none;
            background: linear-gradient(to right, transparent, var(--current-bg));
        }

        // Dynamically set the --current-bg variable based on state
        &[data-selected="true"]::after {
            --current-bg: var(--selected-bg);
        }
        &:hover::after {
            --current-bg: var(--hover-bg);
        }
        &:not(:hover):not([data-selected="true"])::after {
            --current-bg: var(--default-bg);
        }
    }
}
