name: Javascript checks

on:
    push:
        branches:
            - main
            - release/**   # all release branches
        paths:
            - frontend/**
    pull_request:
        branches:
            - main
            - release/**   # all release branches
    workflow_dispatch:

jobs:
    eslint:
        name: Javascript checks
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
        strategy:
            matrix:
                node-version: ["22.20.0"]
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "pnpm"
                  cache-dependency-path: frontend/pnpm-lock.yaml
            - name: Install dependencies
              run: |
                  cd ./frontend
                  pnpm install --frozen-lockfile
            - name: Run ESLint
              id: eslint
              continue-on-error: true
              run: |
                  cd ./frontend
                  pnpm run lint
            - name: Run prettier
              id: prettier
              continue-on-error: true
              run: |
                  cd ./frontend
                  pnpm run format-check
            - name: Run TypeScript type check
              id: check-types
              run: |
                  cd ./frontend
                  pnpm run check-types
            - name: Check for failures
              if: steps.eslint.outcome == 'failure' || steps.check-types.outcome == 'failure' || steps.prettier.outcome == 'failure'
              run: |
                  echo "One or more checks failed"
                  exit 1
