name: Javascript checks

on:
    push:
        branches: ["main"]
        paths:
            - frontend/**
    pull_request:
        # The branches below must be a subset of the branches above
        branches: ["main"]
    workflow_dispatch:

jobs:
    eslint:
        name: Linting, type check
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
        strategy:
            matrix:
                node-version: [21]
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "pnpm"
                  cache-dependency-path: frontend/pnpm-lock.yaml
            - name: Install dependencies
              run: |
                  cd ./frontend
                  pnpm install --frozen-lockfile
            - name: Run ESLint
              continue-on-error: true
              run: |
                  cd ./frontend
                  CI=true pnpm run lint
            - name: Run TypeScript type check
              run: |
                  cd ./frontend
                  pnpm run check-types
